# Virtual environments
env/
files/
__pycache__
Code_testing/Code/poppler-25.12.0/

# Test data
data_testing/
INE/
Copy_code/

# Docs Training
docs_training/
testing/Test_Images/
Code_testing/Test_Data/